doctype html
html
	head
		title Eliav Cohen - AUTHOR
		link(href="./../styles/style.css" type="text/css" rel="stylesheet")
		// <link href="favicon.png" rel="shortcut icon" type="image/png">
	body
		h1 Profile Page
		p Hello, welcome to my biography...
		p
			| We (#{name}) are using node
			script.
				document.write(process.versions.node)
			| ,
			|         Chrome
			script.
				document.write(process.versions.chrome)
			| ,
			|         and Electron
			script.
				document.write(process.versions.electron)
			| .
		// <script>require('electron-connect').client.create()</script>
